html { 
    font-family: 'Roboto', 'sans-serif'
    }

.img_logo_nav{
    max-height: 40px;
    margin: 2px;
}
@media only screen and (max-width: 780px) {
    .teste{
    background-color: #212121;
    }
}