:root {
    --primary: #3ca6f8;
    --second: #56e3e8;
    --third: #000000d8;
    --white:rgb(240, 231, 231);
}
.footer{
    background-color: var(--third);
}
#title_footer{
    background:var(--primary);
    color:white;
}
.text_footer{
    margin-top:30px;
    margin-right: 20%;
    align-content: center;
    text-align: left;
    color:white;
}
.contact_footer{
    color:white;
}